%h1 Listing artists

%table
  %tr
    %th
    %th
    %th

  - @artists.each do |artist|
    %tr
      %a{href: artist_path(artist)}
        %h3= artist.name
        = image_tag artist.profile_picture.url(:medium)

%br

