- event_dates.each do |event_date|
  - event = event_date.event
  - if event.published? || user_signed_in?
    - artists = event.artists
    - format_for_js = "%Y-%m-%d %H:%M"
    = link_to(path_for(event, locale: I18n.locale), class:'post', |
      data: { |
        id: event.id, |
        artist: artists.map(&:slug).join('|'), |
        "date-start" => event_date.start.strftime(format_for_js), |
        "date-end" => event_date.end.strftime(format_for_js), |
        section: event.sup_section, |
      }) do
      .tile-link
        .info
          .event-title
            %h3= event.title
