- content_for(:og_title, "Program")
- content_for(:image, image_url('lines_3.png'))
- content_for(:description, "Everything you need to know, day by day")

.filters
	.filters-content
		.filters-by
			.filter-title.active{data: {type: 'date', target: 'reset'} } Events By Day
			%ul.filter-list.date
				- @days.each do |day|
					- in_s = day.strftime(date_format)
					%li.day{data: {type: 'date', target:day.strftime("%d")}}= in_s
			.filter-title{data: {type: 'section', target: 'reset'} } Events By Type
			%ul.filter-list.section.collapsed
				- @sections.each do |sec|
					%li.section{data: {type: 'section', target: sec}}= sec
			.filter-title{data: {type: 'venue', target: 'reset'} } Events By Venue
			%ul.filter-list.venue.collapsed
				- @venues.each do |venue|
					%li.venue{data: {type: 'venue', target: venue.name}}= venue.name
#program{data: { "date-start" => @event_dates.first.start.strftime("%Y-%m-%d %H:%M") } }
	= render 'events/timeline.html.haml', event_dates: @event_dates
