- content_for(:og_title, "Program")
- content_for(:image, image_url('lines_3.png'))
- content_for(:description, "Everything you need to know, day by day")

.filters
	.filters-content
		%ul.filters-list
			- @days.each do |day|
				- in_s = day.strftime(date_format)
				%li.day{data: {type: 'date', target:in_s}, class: in_s}= in_s
			- @sections.each do |sec|
				%li.section{data: {type: 'section', target: sec}}= sec
#program{data: { "date-start" => @event_dates.first.start.strftime("%Y-%m-%d %H:%M") } }
	= render 'events/timeline.html.haml', event_dates: @event_dates
