- content_for(:og_title, "Program")
- content_for(:image, image_url('lines_3.png'))
- content_for(:description, "Everything you need to know, day by day")
- date_format_for_machine = "%-d-%-m"
.filters
	.filters-content
		.filters-by
			.filter-title{data: {type: 'date', target: 'reset'} } Events By Day
			%ul.filter-list.date.collapsed
				- @days.each do |day|
					- in_s = day.strftime(date_format)
					%li.day{data: {type: 'date', target:day.strftime(date_format_for_machine)}}= in_s
			.filter-title{data: {type: 'section', target: 'reset'} } Events By Type
			%ul.filter-list.section.collapsed
				- @sections.each do |sec|
					%li.section{data: {type: 'section', target: sec}}= sec
			.filter-title{data: {type: 'venue', target: 'reset'} } Events By Venue
			%ul.filter-list.venue.collapsed
				- @venues.each do |venue|
					%li.venue{data: {type: 'venue', target: venue.name}}= venue.name
			.filter-title{data: {type: 'artist', target: 'reset'} } Artists
			%ul.filter-list.artist.collapsed
				- @artists_alphabet.each do |letter|
					%li.letter{data: { type: 'letter', target: letter} }= letter

#program{data: { "date-start" => @event_dates.first.start.strftime("%Y-%m-%d %H:%M") } }
	.legend
		%ul.date
			- @days.each do |day|
				- in_s = day.strftime("%d.%m")
				%li.day{ data: { date:day.strftime(date_format_for_machine) }}= in_s
	.events= render 'events/timeline.html.haml', event_dates: @event_dates
