- content_for(:og_title, "Program")
- content_for(:image, image_url('lines_3.png'))
- content_for(:description, "Everything you need to know, day by day")

.filters.draggable
	.filters-content
		%ul.filters-list
			- @artists.each do |ar|
				%li.artist{data: {type: 'artist', target: ar.slug}}= ar.name
		-# %ul.col-xs-5.col-sm-2
		-# 	%input#dates{type: :checkbox, name: 'dates'}
		-# 	- @days.each do |day, event_dates|
		-# 		- in_s = day.strftime(date_format)
		-# 		%li.day{data: {type: 'date', target:in_s}, class: in_s}
		-# 			%h2.location-link= in_s
		%ul.filters-list
			- @sections.each do |cat|
				%li{data:{ target: cat, type: 'category' }}= cat
#program
	= render 'events/timeline.html.haml', event_dates: @event_dates
