-# - @types.each do |type, items|
-# 	%h2= t("events.types.#{type}").pluralize
.page-title
	%h1 Sort Events
- url = '/admin/events/sort'
= render 'shared/sortable', items: @events, identifier: :title, url: url
