.volets
  .volet
    %h2 Mapping Expo
    .dates 11 – 28.5.2017

  .volet
    %h2 Mapping Lab
    .dates 18 – 28.5.2017

  .volet
    %h2 Mapping Live
    .dates 24 – 28.5.2017

  .in-construction= t('time.coming_soon')
