.mapping-team{
	@include lineJump(4);
	@media #{$tablet}{
		column-count: 2;
		p:first-child{
			margin-top: 0;
		}
	}
}

#archives{
	min-height: 80vh;	
}

@media #{$tablet}{
	.static-page iframe{
		margin-top: 4rem;
	}
	#archives{
		display: flex;
		flex-flow: row wrap;
		.grid-item{
			flex: 0 0 25%;
			position: relative;
		}
	}
}
