
@import "variables";

@import "mixins";
@import "typography";
@import "framework_and_overrides";
@import "layout";
@import "ui_components";
@import "transitions";
@import "header";
@import "partners";
@import "artists";
@import "events";
@import "filters";
@import "home";
@import "newsletter";
@import "grid_index.css.scss";
@import "logo";
@import "locations";
@import "landing";
@import "about";
@import "program";
@import "screenshots";
@import "dump";
@import "hover-thumbnails";
@import "nav_drawer";

html{
	font-size: $base-font-size;
	overflow-x: hidden;
	color: $white;
}

body{
	font-family: $body-font;
	overflow-x: hidden;
	color: $white;
	background-color: $brand-color;
	background-image: url(image-path('logo.svg'));
	background-repeat: no-repeat;
	background-position: 5vw top;
	background-size: 120% auto;
	background-attachment: fixed;
	@media #{$tablet}{
		background-size: auto 100%;
		background-position: top right;
	}
	font-size: 22px;
}

#background{
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
	text-align: right;
	z-index: -4;
	opacity: .4;
	display: none;
	svg{
		width: 120vw;
		transform: translateX(3vw);
		height: auto;
	}
	@media #{$tablet}{
		bottom: 0;
		svg{
			width: auto;
			height: 100%;
			min-height: 450px;
			transform: translateY(-5px);
		}
	}
}

p{
	margin-bottom: 0 !important;
}

h2{
	clear: both;
}

h1, h2{
	font-weight: normal;
}

a{
	color: $white;
}
a:hover, a:active{
	text-decoration: underline;
}

img, canvas, iframe{
	max-width: 100%;
}
iframe{
	border: none;
	display: block;
	margin: auto;
	height: auto;
}

table{
	background: transparent;
}

ul{
	li{
		list-style: none;
	}
	padding-left: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

h1, h2{
	font-family: $body-font;
	font-size: inherit;
	margin: 0;
}

h3, h4, h5, h6{
	font-family: $body-font;
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
}

main{font-family: $body-font;}


.page-title{
	width: 100%;
}

a:hover{
	color: inherit;
}


.social{
	.fa-icon{
		margin-right: 5px;
		a:hover{
			background: $white;
		}
		//&:hover:before{
		//	border-color: $dark-grey;
		//	box-shadow: inset	0	10px	0 $black;
		//}
		&:before{
	    width: 1.3em;
	    height: 1.3em;
	    line-height: 1.15em;
			text-align: center;
			display: inline-block;
		}
	}
}

.map iframe {
  min-height: 480px;
}

/* Works in Safari */
::selection {
	background-color: darken($white, 0%);
	color: $black;
}
/* Mozilla based browsers */
::-moz-selection {
	background-color: $white;
	color: $black;
}

.admin .sortable-list li{
	&.ui-sortable-placeholder, &.sortable-placeholder{
		min-height: 40px;
		@extend .list-group-item;
		margin-bottom: 5px;
	}
}
.admin .sortable li{
	&.ui-sortable-placeholder, &.sortable-placeholder{
		visibility: visible!important;
		display: inline-block;
	}
	cursor: grab;
	&.ui-sortable-helper{
		cursor: grabbing;
	}
	i{
		visibility: hidden;
	}
	&:hover i{
		visibility: visible;
	}
}

.turbolinks-progress-bar {
  height: 0!important;
}
