.artists{
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-1rem);
  perspective: 400px;
  perspective-origin: 50% 10%;
  @media #{$tablet}{
    margin-top: $lineheight-base * 4;
    transform: none;
  }
}
.artist-single{
  flex: 0 0 45%;
  min-width: 80vw;
  max-width: 70ch;
  @media #{$tablet}{
    min-width: 400px;
  }
  transition: all 1s $transition-long;
  @for $i from 1 to 15{
    &:nth-child(#{$i}n){
      transition-delay: #{random(300)}ms;
    }
  }
  opacity: .2;
  transform: translateZ(-200px);
  &:hover{
    transition-delay: .5s;
    transform: translateZ(0px)!important;
  }
  padding: 0 1em;
  .links{
    margin-top: $margin-vertical-large;
  }
  .link{
    margin-right: $margin-horizontal-normal;
  }
}
.artist-name{
  font-size: $large;
  margin-top: $margin-vertical-large;
  margin-bottom: $margin-vertical-larger;
  text-decoration: underline;
}
