.show-page .artists{
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  clear: both;
  perspective: 400px;
  perspective-origin: 50% 10%;
  @media #{$tablet}{
    margin-top: $lineheight-base * 4;
    transform: none;
    margin-left: -20vw;
    padding-left: 20vw;
  }
}
.artist-single{
  flex: 0 0 45%;
  min-width: 95vw;
  max-width: 70ch;
  @media #{$mobile}{
    transform: none!important;
  }
  @media #{$tablet}{
    min-width: 80vw;
    min-width: 400px;
  }
  transition: all 1s $transition-long;
  @for $i from 1 to 15{
    &:nth-child(#{$i}n){
      transition-delay: #{random(300)}ms;
    }
  }
  opacity: .2;
  transform: translateZ(-200px);
  padding: 0 $margin-horizontal-normal;
  .links{
    margin-top: $margin-vertical-large;
  }
  .link{
    display: inline-block;
  }
}
.artist-name{
  font-size: $large;
  margin-top: $margin-vertical-large;
  margin-bottom: $margin-vertical-larger;
  text-decoration: underline;
}
