.colorbox.image, .colorbox.video{
	display: none;
}

#cboxCurrent{
	line-height: 0.7;
}

#cboxContent, #cboxMiddleLeft, #cboxMiddleRight, #cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight{
	background: none!important;
} 
