a.artist{
	@extend .nav-link;
	&:hover .labels{
		color:transparent;
		letter-spacing: 1em;
		text-shadow: none;
	}
}
.event-name{
	margin: 0 $margin-horizontal-normal 0 $margin-horizontal-normal;
	@media #{$tablet}{
		margin: 0;
	}
}
.show-header, .artist-list{
	@media #{$tablet}{
		margin: 0;
		display: inline-block;
	}
	margin-bottom: $margin-vertical-large;
	a{
		display: block;
		@media #{$tablet}{
			display: inline-block;
		}
	}
	.artist{
		h5, h6{
			margin: 0px;
		}
	}
	.event-artists, .artist-event{
		text-transform: capitalize;
		max-width: 85ch;
	}
	.artist-name, .labels, .origin{
		display: inline-block;
		@media #{$tablet} {
			display: inline;
		}
	}
	.labels, .origin{
		vertical-align: super;
	}
	.event-artists{
		.artist:not(:last-child){
			margin-right: $margin-horizontal-normal;
		}
	}
}

h1{
	max-width: 26ch;
	text-transform: capitalize;
}
.single-artist{
	.artist-name{
		vertical-align: middle;
	}
	.labels{
		margin: 0;
	}
	h4{
		margin : 0;
	}
	.origin:before{
		content : ' / ';
	}
}

.show-desc{
	@media #{$tablet}{
		.left{
			float: left;
			margin-left: -13em;
			&.large{
				margin-left: -25em;
			}
		}
		.right{
			float: right;
			margin-right: -10em;
			&.large{
				margin-right: -15em;
			}
		}
		iframe{
			float: right;
			margin-right: -25em;
		}
	}
}
#main-content{
	padding: 0 1rem 0 1rem;
	@media #{$tablet}{
		padding: 0;
	}
}
.show-desc, .event-artist-bio, .artist-desc, .static-desc{
	@media #{$tablet}{
		max-width: 80ch;
	}
}

.event-infos{
	margin-left: 1px;
	@media #{$tablet} {
		padding: 0;
	}
	h5{
		display: inline-block;
		position: relative;
		border-bottom: solid 1px $black;
		padding-left: 0.6rem;
		padding-right: 2rem;
		@media #{$tablet}{
			padding-right: 5rem;
		}
		&:before{
			content: '';
		}
		&:before, &:after{
			height: 0.6em;
			display: inline-block;
			border-left: 1px solid $black;
			position: absolute;
			top: 8px;
			left: 0px;
		}
		&:not(:first-child){
			margin-left: -0.6rem;
		}
		&:last-child:after{
			content: '';
			border-right: 1px solid $black;
			right: 0px;
		}
	}
	a{
		text-decoration: none;
	}
}

.show-desc, .artist-desc{
	margin-bottom: $margin-vertical-largest;
}
.artist-list{
	padding-top: $margin-vertical-largest;
	.artist-name, .label{
		text-transform: capitalize;
	}
}

.show-info{
	background: transparent;
	float: right;
	margin: 2rem 0 2rem 0rem;
	@media #{$tablet}{
		width: 440px;
		margin: 2rem -8ch 2rem 1rem;
	}
	@media #{$md}{
		margin: 2rem -32ch 2rem 1rem;
	}
}

.show-xs{
	@media #{$tablet}{
		display: none;
	}
}

.iframe{
	width: 55ch;
	float: left;
	margin-left: -20ch;
}

.info-list{
	table{
		width: 100%;
	}
	tr{
		border-top: solid 1px $black;
	}
	tr:last-child{
		border-bottom: solid 1px $black;
	}
	td{
		vertical-align: top;
	}
	.left-info, .right-info{
		display: inline-block;
	}
	.left-info{
		padding-left: 1rem;
		@media #{$tablet}{
			padding-left: 0;
		}
		min-width: 40%;
		font-weight: bold;
	}
	.right-info{
		max-width: 50%;
		padding-left: 1rem;
	}
}

.links{
	width: 33%;
	display: flex;
	justify-content: space-between;
	li{
		flex: 0 0 20%;
	}
}
