// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SHARED

.info{
	font-size: $tile-title-size;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	&:before{
		@include triangle-up($triangle-size: 25px);
	}
	.info-left-col, .info-right-col{
		flex: 0 0 100%;
		@media #{$tablet}
		{
			flex: 0 0 50%;
		}
	}
	.type{
		font-weight: bold;
	}
	.title, .event-title{
		margin: 0 0 0px;
		font-weight: bold;
	}
	.location{
		font-family: $info-font;
	}
	h1, h2{
		margin-top: 0px;
		margin-bottom: 0px;
	}
}



// PREVIEW TILES
.mix {
	& a{
		color: black;
		text-decoration: none;
		transition: color 0.2s 0.1s;
		&:hover{
			transition: color 0.15s;
			color: $brand-color;
		}
	}
	.artist, .event-name{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		flex: 1 0 100%;
	}
	.artist-name{
		min-width: 100%;
	}
}

.info{
	font-size: $tile-title-size;
	@include n-cols($children: ".type, .location", $max-column: 2);
	align-items: center;
	position: relative;
	padding-bottom: 10px;
	.type, .event-title, .location{
		display: inline-block;
		min-width: 100%;
	}
	.location{
		padding-top: 2px;
	}
	h1, h2{
		margin-top: 0px;
		margin-bottom: 0px;
		.type, .artist-event{
			flex: 1 0 100%;
		}
	}
}
// INDEX
#single-events-list{
	min-height: 800px;
	.mix{
		display: none;		
	}
}

#filters{
	display: flex;
	margin-bottom: 5px;
	flex-wrap: wrap;
	.chosen-container{
		text-transform: uppercase;
		font-weight: bold;
		.chosen-single{
			border: none;
		}
		flex: 0 0 100%;
		@media #{$tablet}
		{
			flex: 0 0 160px;
			margin-right: 5px;
		}
	}
	.cat-filters{
		flex-grow: 1;
		background: white;
		padding: 1px 5px 0;
		display: flex;
		flex-wrap: wrap;
		input[type="checkbox"] + label{
			flex-basis: 50%;
			padding: 5px 10px 3px;
			@media #{$tablet}
			{
				padding: 2px 10px 0;
			}
			margin-bottom: 0;
			@media #{$tablet}
			{
				flex-basis: auto;
			}
		}
	}
}
// SHOW
.events-list{
	@include n-cols($children: ".event");
}

.show-header, .tile{
	display: block;
	background-color: white;
	text-align: center;
	margin-bottom: 5px;
	text-transform: lowercase;
}

// SINGLE PAGE

.show-header .info{
	@media #{$tablet}{
		text-align: left;
		padding-left: 15px;
		.location{
			font-size: $large;
		}
	}
}

.type{
	text-decoration: underline;
	font-family: $title-font;
	font-weight: bold;
	font-size: $large;
}
.tile-title{
	margin-top: 0;
}
