.filters{
    overflow: auto;
    flex: 0 0 20vw;
    display: flex;
    font-weight: bold;
    font-size: $body-size;

}
.filters-by{
  color: $dark-grey;
  width: 100%;
  & .active{
    color: $white;
  }

  h3.active{
      border-bottom: solid 1px $white;
  }

  h3{
    line-height: ($lineheight-base * 2);
    margin-bottom: ($lineheight-base * 0.75);
  }
  li{
    cursor: pointer;
    &:hover{
      color: $white;
    }
    line-height: ($lineheight-base * 2.5);
    &:last-child{
      margin-bottom: $lineheight-base * 3;
    }
  }
}

.filter-title{
  padding-bottom: $lineheight-base * .75;
  margin-bottom: $lineheight-base * 2;
  &.active{
    border-bottom: 1px solid $white;
    color: $white;
  }
}

.filter-list{
  max-height: 50vh;
  transition: all .3s ease-in-out;
  overflow: hidden;
  margin-bottom: $lineheight-base * 2;
  &.collapsed{
    max-height: 0;
    margin-bottom: 0;
  }
}

.filter-list.artists{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .letter{
    flex: 0 0 25%;
    text-transform: uppercase;
  }
}
