@mixin title-active(){
  border-bottom: 1px solid $white;
  color: $white;
}

@media #{$mobile}{
  .filters{
    flex-flow: row;
    -webkit-overflow-scrolling: touch;
  }
  .filters-by{
    flex: 1 0 80vw;
    padding: 0 1rem;
  }
  .filter-title{
    @include title-active;
  }
  .filter-list{
    display: flex;
    flex-flow: column;
    &.artists, &.venue{
      flex-flow: row wrap;
      transform: none;
      justify-content: space-between;
    }
    li{
      padding-right: 1rem;
    }
  }
  #nav-program{
    padding: 0;
  }
}

.filters{
    overflow: auto;
    display: flex;
    font-weight: bold;
    font-size: $body-size;
}
.filters-by{
  color: $dark-grey;
  width: 100%;
  & .active{
    color: $white;
  }
  h3.active{
      border-bottom: solid 1px $white;
  }

  h3{
    line-height: ($lineheight-base * 2);
    margin-bottom: ($lineheight-base * 0.75);
  }
  li{
    cursor: pointer;
    &:hover{
      color: $white;
    }
    line-height: ($lineheight-base * 2.5);
    &:last-child{
      margin-bottom: $lineheight-base * 3;
    }
  }
}

.filter-title{
  padding-bottom: $lineheight-base * .75;
  margin-bottom: $lineheight-base * 2;
  &.active{
    @include title-active();
  }
}

@media #{$tablet}{
  .filters{
    flex-flow: column;
  }
  .filter-list.collapsible{
    transition: all .3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
    .filter-title.active + &{
      max-height: 50vh;
      margin-bottom: $lineheight-base * 2;
    }
  }
}

[data-type]{
  cursor: pointer;
}

.resetter{
  display: none;
  float: right;
  margin-top: 10px;
  &.active{
    display: inline-block;
  }
}
.filter-list.date{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  $day-width: 100%/7;
  .day{
    flex: 0 0 $day-width;
    &:first-child{
      margin-left: 3*$day-width;
    }
    @media #{$tablet}{
    }
  }
}
.filter-list.artists{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .letter{
    flex: 0 0 25%;
    text-transform: uppercase;
  }
}
.filter-list.date, .filter-list.artists{
  text-align: center;
} 