.grid-item{
  min-width: 25%;
  display: flex;
  .tile{
    position: relative;
  }
  &.sr-top .info{
    bottom: 0;
    top: auto;
  }
  @media #{$mobile}{
    position: relative!important;
    top: 0!important;
  }

  &:before{
    content: '';
    opacity: 1;
    position: absolute;
    top : 0px;
    width: 100%;
    height: 100%;
    transition : all 0.3s ease-out;
    background: rgba(255,255,255, 0.95);
    z-index: 1;
  }
  .no-touch &.sr-middle:hover:before{
    opacity: 1;
  }
  .no-touch &.sr-middle:hover .info, .info{
    position: absolute;
    top: 0;
    bottom: auto;
    z-index: 2;
    opacity: 1;
    padding-left: $margin-horizontal-normal;
    padding-right: $margin-horizontal-normal;
  }
  .no-touch &:hover, &.sr-middle{
    .info{
      opacity: 0;
    }
    &:before{
      transition : all 0.3s ease-out;
      opacity : 0;
    }
  }
}


.mCustomScrollbar .mCSB_inside > .mCSB_container{
  margin-right: 10px;
}
