.grid-item{
  min-width: 25%;
  min-height: 270px;
  position: relative;
  @media #{$mobile}{
    position: relative!important;
    top: 0!important;
  }
  &.sr-active:hover .info, .info{
    position: absolute;
    top : 0px;
    width: 100%;
    height: 100%;
    padding-left: $margin-horizontal-normal;
    padding-right: $margin-horizontal-normal;
    background: rgba(255,255,255, 0.95);
    opacity : 1;
    transition : all 0.3s 0.2s ease-out;
  }
  .no-touch &:hover .info, &.sr-active .info{
    transition : all 0.3s ease-out;
    opacity : 0;
  }
}


.mCustomScrollbar .mCSB_inside > .mCSB_container{
  margin-right: 10px;
}
