.header{
	color: $white;
}

.navigation-menu{
	font-size: $body-size;
	a{
		min-width: 100%;
	}
	ul{
		width: 50%;
	}
	li{
		line-height: $lineheight-base*2;
		text-transform: capitalize;
		&:hover{
			background: $white;
		}
		span{
		}
	}
}

.more-info{
	font-size: .8em;
}
nav{
	z-index: 1000;
	border-top: solid 1px $white;
	border-bottom: solid 1px $white;
	padding: 5px 0;
	overflow-y: hidden;
	@media #{$tablet}{
		border-top: none;
		border-bottom: none;
		background: none;
		padding: 0 0;
	}
	.gap-before{
		margin-top: 2rem;
	}
	.gap-after{
		margin-bottom: 2rem;
	}
	.nav li a, .nav li button{
		padding: 5px 0;
		&:hover{
			text-decoration: underline;
			background: transparent;
		}
	}
}

footer{
	font-size: $small;
}

.hamburger {
	display: flex;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	position: fixed;
	z-index: 1000;
	top: 0px;
	right: 5px;
	cursor: pointer;
	@media #{$tablet}{
		display: none;
	}
}

.bars,
.bars:before,
.bars:after {
	position: relative;
	width: 33px;
	height: 3px;
	margin: 0 auto;
	background: #ffffff;
	border-radius: 0px;
	transition: top .2s .2s, transform .2s;
}

.bars:before,
.bars:after {
	content: "";
	display: block;
	position: absolute;
}

.bars:before {
	top: -10px;
}

.bars:after {
	top: 10px;
}

.open .bars:before,
.open .bars:after {
	transition: top .2s, transform .2s .2s;
	top: 0;
}

.open .bars {
	background: transparent;
}

.open .bars:before {
	transform: rotate(45deg);
}

.open .bars:after {
	transform: rotate(-45deg);
}
