.header{
	color: $white;
}

.navigation-menu{
	font-size: $body-size;
	a{
		min-width: 100%;
	}
	ul{
		width: 50%;
	}
	li{
		line-height: $lineheight-base*2;
		text-transform: capitalize;
		&:hover{
			background: $white;
		}
		span{
		}
	}
}
