// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-title{
	size: $section-size;
	padding: 5px 10px;
	display: inline-block;
	@extend .link;
}