// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.events{
	@include n-cols("li", $max-column : 3);
	& li {
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
		@media screen and #{$tablet}{
		}

	}
	.section-title{
	padding: 5px 10px;
	margin-left: 15px;
	display: inline-block;
	position: absolute;
	margin: 15px;
	z-index: 100;
	@extend .link;
	}
}