ul.thumbnails{
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - #{$nav-width});
  pointer-events: none;
  li {
    position: absolute;
    overflow: visible;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: scale(.8) translateX(-50%) translateY(-30%) ;
    transform-origin: 0 0;
    transition: all 1000ms $transition-long 0ms;
    will-change: transform, opacity;
    .program-hovered &.in{
      transform: scale(1) translateX(-50%) translateY(-50%) ;
      opacity: .8;
    }
    &.out{
      transform: scale(1.5) translateX(-50%) translateY(-15%);
      opacity: 0;
    }
    &.reset{
      transition: all 0ms cubic-bezier(.19,1,.22,1) 0ms;
      opacity: 0;
    }
  }
}

.post, .header{
  .program-hovered &{
    opacity: .1!important;
    // z-index: -2!important;
    transition: opacity .15s ease-out 0s;
    &:hover{
      transition: opacity .1s ease-out 0s;
      opacity: 1!important;
      z-index: 10!important;
    }
  }
}
