.login-form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  cursor: pointer;
}

.volets{
  @media #{$mobile}{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .volet{
      flex: 0 0 33%;
      &:not(:last-child){
        padding-right: 1rem;
      }
    }
  }
  .volet{
    margin-bottom: $margin-vertical-largest;
    display: inline-block;
    @media #{$tablet}{
      display: block;
    }
  }
  h2{
    margin-bottom: $margin-vertical-normal;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid $white;
    padding-bottom: 1rem;
  }
}

.tmp-page{
  @media #{$mobile}{
    main{
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 3rem;
    }
  }
  @media #{$sm}{
    main{
      padding-top: 10rem;
    }
    .volets{
      padding-top: 6rem;
    }
  }
  .news-container{
    h1{
      font-size: 36px;
      padding-bottom: calc(6rem - 7px);
      @media #{$md}{
        padding-bottom: 6rem;
      }
    }
  }
}