.login-form {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
z-index: 1000;
}
@media (max-width: 767px) {
  .login-form {
    width: 205px; } }
.login-form .input {
  display: block;
  -webkit-appearance: none;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
  font-size: 26px; }
  .login-form .input:focus {
    -webkit-outline: none;
    outline: none; }
.login-form button {
  visibility: hidden;
  display: none; }
.login-form input {
  text-align: center;
  padding: 5px 5px;
  color: #FF4136;
  border-bottom: #FF4136 solid 2px;
  border-radius: 0; }
