.login-form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  cursor: pointer;
}

.volets{
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  justify-content: space-between;
  height: 100%;
  .volet, .in-construction{
    margin: 2rem 0;
  }
  .volet:nth-child(1){
    align-self: flex-end;
  }
  .volet:nth-child(2){
    align-self: flex-start;
  }
  .volet:nth-child(3){
    align-self: center;
  }
  .in-construction{
    align-self: center;
    text-decoration: underline;
  }
  @media #{$tablet}{
    width: 80%;
    margin: auto;
    .in-construction{
      align-self: flex-start;
    }
    .volet:nth-child(1){
      margin-right: 8vw;
    }
  }
}
