$header-height: 196px + 84px;
$nav-width: 20vw;
body{

}
header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: $margin-horizontal-normal;
	font-weight: bold;
	min-height: $lineheight-base*7;
	z-index: 100;
}
.navigation-menu{
	flex: 1 0 auto;
	display: inline-flex;
}
nav{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
}

main, .main{
	padding-left: 1rem;
	padding-right: 1rem;
}

main{
	@media #{$tablet}{
		padding-left: 0;
		padding-right: 0;
	}
}
@media #{$tablet}{
	header{
		position: fixed;
		top: 0;
		left: 0;
		@include lineJump(6);
	}
	main{
		padding-left: $nav-width;
		overflow: auto;
		padding-top: $header-height;
	}
	nav{
		height: calc(100vh - #{$header-height});
		transition: all .2s $transition-long;
		header:hover + &{
			height: calc(100vh - #{$header-height})!important;
		}
		bottom: 0;
		width: $nav-width;
		overflow-y: auto;
		border-right: solid 1px $white;
	}
}

@media #{$mobile}{
	nav{
		border-top: 1px solid transparent;
		position: sticky;
	}
	.social{
		margin-top: .5rem;
	}
	.nav{
		display: flex;
		flex-flow: row;
		overflow: auto;
		width: 100vw;
		-webkit-overflow-scrolling: touch;
		li{
			padding: 0 1rem;
			flex: 1 1 50%;
		}
	}
	.nav .gap-after{
		border-right: 1px solid $white;
		margin-right: 1rem;
		padding-right: 2rem;
	}
	.nav .gap-before{
		border-left: 1px solid $white;
		margin-left: 1rem;
		padding-left: 2rem;
	}
	.nav .gap-before, .nav .gap-after{
		margin-top: 0;
		margin-bottom: 0;
	}

	.address{
		display: none;
		margin-top: 5rem;
	}

}
