$header-height: 196px + 84px;
$nav-width: 20vw;
body{

}
header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: $margin-horizontal-normal;
	font-weight: bold;
	min-height: $lineheight-base*7;
	z-index: 100;
}
.navigation-menu{
	flex: 1 0 auto;
	display: inline-flex;
}
nav{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
}

main{
	padding-left: 1rem;
	padding-right: 1rem;
}
@media #{$tablet}{
	header{
		position: fixed;
		top: 0;
		left: 0;
		@include lineJump(6);
	}
	main{
		margin-left: $nav-width;
		overflow: auto;
		padding-top: $header-height;
	}
	nav{
		height: calc(100vh - #{$header-height});
		transition: all .4s $transition-long;
		header:hover + &{
			height: calc(100vh - #{$header-height})!important;

		}
		bottom: 0;
		width: $nav-width;
		overflow-y: auto;
		border-right: solid 1px $white;
	}
}

@media #{$mobile}{
	nav{
		max-height: 0vh;
		transition: max-height .4s $transition-long;
		overflow: auto;
		border-top: 1px solid transparent;
	}
	.nav{
		margin-top: 2rem;
		display: flex;
		flex-flow: row wrap;
		align-content: flex-end;
		align-items: flex-end;
		li{
			flex: 0 0 50%;
		}
	}
	.address{
		margin-top: 5rem;
	}
	body.open{
		nav{
			max-height: 100vh;
			border-top: 1px solid $white;
		}
	}
}
