#google-map-wrapper{
	height: 60rem;
	@media #{$tablet}{
		margin-left: -15px;
		margin-right: -15px;
	}
}

.location-list, .location-events{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0 0 $margin-vertical-normal 0;
	padding: 0 $margin-horizontal-normal 0 $margin-horizontal-normal;
	.location-link{
		flex-basis: 100%;
		border: solid 1px $black;
		text-align: center;
		margin: $margin-vertical-normal 0 0 0;
		@media #{$tablet}{
			flex-basis: 24ch;
		}
	}
}

.location-events{
	border-top: solid 1px $black;
	padding-top: $margin-vertical-normal;
}

.location-event{
	@media #{$tablet}{
		flex-basis: 24ch;
	}
	&:hover{
		background: $black;
		color: $white;
		h4, h5{
			color: $white;
		}
	}
	h3{
		font-size: $body-size;
	}
	.info{
		padding: $margin-vertical-normal $margin-horizontal-normal 0 $margin-horizontal-normal;
		position: relative;
		top: 0px;
	}
}

#google-map{
	height: 100%;
}
