.sub-title{
	max-width: auto;
}


@media #{$tablet}{
	.location-main{
		display: flex;
		margin-bottom: 5rem;
	}
	.locations-page main{
		display: flex;
		align-items: center;
	}
	.locations-page .full-content{
		padding: 0 0 0 1rem;
		margin: 0;
	}
}

#google-map-wrapper{
	color: black;
	width: 100%;
	height: 20rem;
	@media #{$tablet}{
		height: 100%;
		display: flex;
		flex: 1 0 100%;
		flex-direction: column;
		min-height: 35rem;
		width: auto;
		#google-map{
			flex: 1 0 100%;
		}
	}
	a{
		color: $black;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.location-main{
	@include lineJump(7.5);
}
.location-list{
	display: flex;
	flex-direction: column;
	@media #{$tablet}{
		align-content: flex-start;
		flex: 0 1 25%;
		@include lineJump(1);
	}
}

.location-link{
	&:hover, &.active{
		font-weight: bold;
	}
}

.location-events{
	display: none;
}
.location-event{
	@media #{$tablet}{
		flex-basis: 24ch;
	}
	&:hover{
		background: $black;
		color: $white;
		h4, h5{
			color: $white;
		}
	}
	h3{
		font-size: 1rem;
	}
	.info{
		padding: $margin-vertical-normal $margin-horizontal-normal 0 $margin-horizontal-normal;
		position: relative;
		top: 0px;
	}
}

#google-map{
	height: 100%;
	width: 100%;
}
