.sub-title{
	max-width: auto;
}

@media #{$tablet}{
	.location-main{
		display: flex;
	}
}

#google-map-wrapper{
	height: 60rem;
	width: 100%;
	@media #{$tablet}{
		display: flex;
		flex: 1 0 75%;
		flex-direction: column;
		min-height: 550px;
		width: auto;
		#google-map{
			flex: 1 0 100%;
		}
	}
}

.location-list{
	display: flex;
	flex-direction: column;
	@media #{$tablet}{
		align-content: flex-start;
		flex: 0 1 25%;
	}
	margin: 0 0 $margin-vertical-normal 0;
	padding: 0 $margin-horizontal-normal 0 0;
	.location-link{
		padding: 10px 0;
		&:hover, &.active{
			border-bottom: solid 1px $black;
			font-weight: bold;
		}
	}
}

.location-event{
	@media #{$tablet}{
		flex-basis: 24ch;
	}
	&:hover{
		background: $black;
		color: $white;
		h4, h5{
			color: $white;
		}
	}
	h3{
		font-size: 1rem;
	}
	.info{
		padding: $margin-vertical-normal $margin-horizontal-normal 0 $margin-horizontal-normal;
		position: relative;
		top: 0px;
	}
}

#google-map{
	min-height: 550px;
	width: 100%;
}
