#banner{
  text-transform: uppercase;
  display: flex;
  align-items: center;

  height: 100vh;
  color: #111;
  position: relative;
  font-size: 3em;
  .logo{
    align-content: center;
    font-size: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 6em;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    right: 0;
  }
  text-shadow: 0.3em 0 0px black, 0.6em 0 0px black;
  will-change: true;
  .letter{
    padding: 0.3em 0;
    flex: 0 0 25%;
    transition: all 0.3s ease-out;
  }
  &:hover{
      text-shadow: 0 0px 0px black, 0 0px 0px black;
    & .letter:hover{

            text-shadow: 0.3em 0 0px black, 0.6em 0 0px black;
    }
  }
}
