.logo{
  .letter{
    will-change: true;
    padding: 0.2em 0;
    flex: 0 0 25%;
    transition: all 0.3s ease-out;
  }
  $list: 3n, 2n+1, 2n, 4n+1, 3n+1, 4n;
  $delay: 0.05s;
  &:not(:hover) .letter{
    @each $var in $list{
      &:nth-child(#{$var}){
        transition-delay: #{$delay};
        $delay: $delay+0.03;
      }
    }
  }
  @include text-shadow($color1: $black, $color2: $white);
	@media #{$tablet} {
    @include text-shadow($color1: $black);
    margin-top: -5px;
		margin-right: $margin-horizontal-normal;
	}
  header:hover &{
    @include text-shadow($color1: $black, $color2: $white, $gap: 0);
			@media #{$tablet} {
        @include text-shadow($gap: 0);
			}
    & .letter:hover{
      @include text-shadow($color1: $black, $color2: $white);
			@media #{$tablet} {
        @include text-shadow();
			}
      transition: all 0.2s ease-out;
    }
  }
}
