#logo{
  text-transform: uppercase;
  font-size: $large;
  .container{
    padding-top: $margin-vertical-normal;
    padding-bottom: $margin-vertical-normal;
  }
  .logo{
    align-content: center;
    font-size: inherit;
    top: 0;
    bottom: 0;
    width: 6em;
    display: flex;
    flex-wrap: no-wrap;
  }
  .letter{
    will-change: true;
    padding: 0.3em 0;
    flex: 0 0 25%;
    transition: all 0.3s 0.3s ease-out;
  }
  $list: 3n, 2n+1, 2n, 4n+1, 3n+1;
  $delay: 0.3s;
  &:not(:hover) .letter{
    @each $var in $list{
      &:nth-child(#{$var}){
        transition-delay: #{$delay};
        $delay: $delay+0.05;
      }
    }
  }

  // shadows
  text-shadow: 0.3em 0 0px black, 0.6em 0 0px black;
  .shadow-opposite &{
    text-shadow: -0.3em 0 0px black, -0.6em 0 0px black;
    & .logo:hover{
        text-shadow: 0 0px 0px black, 0 0px 0px black!important;
      & .letter:hover{
              text-shadow: -0.3em 0 0px black, -0.6em 0 0px black!important;
      }
    }
  }
  &:hover .logo{
      text-shadow: 0 0px 0px black, 0 0px 0px black!important;
    & .letter:hover{
      text-shadow: 0.3em 0 0px black, 0.6em 0 0px black!important;
      transition: all 0.3s ease-out;
    }
  }
}
