@mixin fontSize($size) {
	$remSize: $size / $base-size;
	$calculatedRemSize: #{$remSize}rem;
  font-size: $calculatedRemSize;
}

@mixin lineHeight($size) {
	$remSize: $size / $lineheight-base;
	$calculatedRemSize: #{$remSize}rem;
  line-height: $size; //Fallback in px
  line-height: $calculatedRemSize;
}

@mixin lineJump($linesToJump) {
	$remSize: $linesToJump * $lineheight-base;
  margin-top: $linesToJump + rem;
}

@mixin text-shadow($color1: $black, $color2: $black,$gap: 0.3em){
	text-shadow: $gap 0 0px $color1, #{$gap * 2} 0 0px $color2;
}

@mixin n-cols($children,  $max-column: 3){
	&{
		@extend .mf-row;
		#{$children}{
			@if $max-column == 3{
				@extend .mf-3-cols;
			}
			@if $max-column == 2{
				@extend .mf-2-cols;
			}
		}
	}
}

.mf-row{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
}

.mf-3-cols{
	flex-grow: 0;
	flex-basis: 100%;
	@media #{$tablet}
	{
		flex-basis: calc(50% - 5px);
		margin-bottom: 5px;
	}
	@media #{$md}
	{
		flex-basis:  calc(33.3% - 10px);
		margin-bottom: 10px;
	}
}

.mf-2-cols{
	flex-grow: 0;
	flex-basis: 100%;
	@media #{$tablet}
	{
		flex-basis: calc(50% - 5px);
	}
}
