@mixin n-cols($children,  $max-column: 3){
	&{
		@extend .mf-row;
		#{$children}{
			@if $max-column == 3{
				@extend .mf-3-cols;
			}
			@if $max-column == 2{
				@extend .mf-2-cols;
			}
		}
	}
}

.mf-row{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
}

.mf-3-cols{
	flex-grow: 0;
	flex-basis: 100%;
	@media #{$tablet}
	{
		flex-basis: calc(50% - 5px);
		margin-bottom: 5px;
	}
	@media #{$md}
	{
		flex-basis:  calc(33.3% - 10px);
		margin-bottom: 10px;
	}
}

.mf-2-cols{
	flex-grow: 0;
	flex-basis: 100%;
	@media #{$tablet}
	{
		flex-basis: calc(50% - 5px);
	}
}