$drawer-opening-time: .5s;
$drawer-side-padding: 1rem;
.nav > li{
  position: static;
}

nav{
  overflow-x: hidden;
}

.drawer-container{
  transition: all .5s ease-in-out;
  transform: translateY(0);
  @media #{$tablet}{
    padding: 5rem $drawer-side-padding 0;
    transform: translateX(0%);
    &.drawer-open{
      transform: translateX(-100%);
      opacity: 1;
    }
  }
}

@media #{$mobile}{
  .nav{
    opacity: 1;
    transform: translateY(0rem);
    .drawer-open &{
      transform: translateY(2rem);
      opacity: 0;
    }
  }
}

.drawer{
  position: absolute;
  left: 0;
  padding: 0 1rem;
  @media #{$tablet}{
    left: 100%;
    padding: 1rem $drawer-side-padding 0;
  }
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateX(2rem);
  &.open{
    transform: translateX(0rem);
    opacity: 1;
    pointer-events: auto;
    transition: all $drawer-opening-time ease-in-out;
  }
  @media #{$tablet}{
    transition: all 0s ease-in-out $drawer-opening-time;
  }
}

.drawer .back{
  cursor: pointer;
}

[data-drawer]{
  &:after{
    content: '>';
    padding-left: 1rem;
    @media #{$tablet}{
      float: right;
    }
    display: inline-block;
  }
}
