$drawer-opening-time: .5s;
$drawer-side-padding: 1rem;
.nav > li{
  position: static;
}

.drawer-container{
  transition: all .5s ease-in-out;
  transform: translateX(0%);
  padding: 5rem $drawer-side-padding 0;
  &.drawer-open{
    transform: translateX(-100%);
  }
}

.drawer{
  position: absolute;
  left: 100%;
  padding: 1rem $drawer-side-padding 0;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: all 0s ease-in-out $drawer-opening-time;
  pointer-events: none;
  transform: translateX(2rem);
  background: black;
  &.open{
    transform: translateX(0rem);
    transition: all $drawer-opening-time ease-in-out;
    opacity: 1;
    pointer-events: auto;
  }
}

.drawer .back{
  cursor: pointer;
}

[data-drawer]{
  &:after{
    content: '>';
    display: inline-block;
    float: right;
  }
}
