.partners-page{
  main{
    background-color: white;
  }
  .partners-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .partner{
    text-align: center;
    flex: 0 0 16.666%;
    line-height: 100px;
    max-height: 100px;
    img{
      vertical-align: middle;
      max-height: 80px;
      width: auto;
      display: inline-block;
    }
  }
}
