#program{
  overflow: hidden;
  .events-list{
    transition: all 0.5s ease-out;
    overflow: hidden;
    margin-top: 0;
    max-height: 0;
    &.active{
      max-height: initial;
    }
    @media #{$tablet}{
      max-height: initial;
    }
  }
  .day{
    width: 100%;
    &:hover, &.focused{
      font-weight: bold;
    }
    h2{
      @include lineJump(2);
    }
  }
  @media #{$mobile}{
    .grid-item{
      position: relative !important;
    }
  }
  @media #{$tablet}{
    position: relative;
    .day{
      padding: 0;
      @include lineJump(0);
      border-top: black 1px solid;
      border-bottom: none;
      top: 0;
      width: 100%;
      min-height: 100%;
      position: absolute;
      left: 14px;
      transition: top 0.3s ease-out;
    }
  }


}

.dates {
  margin-bottom: 2rem;
  .dates-list{
    margin-top: -1rem;
  }
  .day:not(.active){
    max-height: 0px;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    @media #{$tablet}{
      display: initial;
      max-height: initial;
    }
  }
  #dates{
    display: none;
    @media #{$tablet}{
      display: initial
    }
  }
  #dates-dropdown-trigger{
    width: 100%;
  }
  #dates:checked ~ ul .day{
    max-height: 1000px;
    display: list-item;
  }
}
