.program-page{
  main{
    @media #{$mobile}{
      padding: 1rem 0 1rem 2rem;
      perspective: initial!important;
    }
  }
}

#program{
  transition: all 1s $transition-long;
  flex: 1 0 80vw;
  display: inline-flex;
  position: relative;
}
.post{
  &.resets{
    transition: all 0s $transition-long;
  }
  &.in{
    transform: translateZ(0px);
    opacity: 1;
  }
  &.out{
    opacity: .2;
    transform: translateZ(-25px);
    pointer-events: none!important;
  }
}

#program{
  @media #{$mobile}{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  .events{
    border-left: 1px solid $white;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
  }
}

$transition: ease-in-out;
.legend{
  width: $margin-horizontal-normal * 5;
  flex: 0 0 auto;
  .day, .letter{
    transition: all #{$transition};
    position: absolute;
    left: -6.7rem;
    transform-origin: top right;
    right: auto;

    &:after{
      content: '';
      display: inline-block;
      height: 100vw;
      border-right: solid 1px white;
      vertical-align: top;
      z-index: 100000;
      position: relative;
      padding-right: 1rem;
    }
  }
    @media #{$tablet}{
      position: relative;
      .day, .letter{
        right: $margin-horizontal-normal;
        left: auto;
        padding: 1rem 5px;
        &:after{
          content: none;
        }
    }
  }

  [data-current-type="event"] &{
    .letter{
      opacity: 0;
      pointer-events: none;
    }
  }
  [data-current-type="artist"] &{
    .day{
      opacity: 0;
      pointer-events: none;
    }
  }
}

.post{
  flex: 1 0 100%;
  padding: $margin-horizontal-normal;
  transition: all .6s #{$transition-long};
  will-change: transform;
  display: block;
  &.inactive, &.out{
    opacity: 0;
    pointer-events: none;
    max-height: 0rem;
    padding: 0 $margin-horizontal-normal;
    display: none;
    @media #{$tablet}{
      opacity: .15;
      display: inline-block;
    }
  }
  background-size: 100% auto;
  background-position: center;
  @media #{$tablet}{
    max-width: 35%;
    max-height: auto;
    background-image: none!important;
    transition: all 1s #{$transition-long}, transform 1s #{$transition-long}, opacity .2s #{$transition-long} .15s;
    @for $conflict from 1 to 10{
      &[data-conflict-count="#{$conflict}"]{
        width: 100%/$conflict;
      }
    }
    @for $i from 1 to 15{
      &:nth-child(#{$i}n){
        transition-delay: #{random(300)}ms;
      }
    }
  }
  &:not(.ready){
    opacity: 0;
  }
}
.post.artist, .legend .letter{
  min-height: 6rem;
  display: flex;
  align-items: center;
}
.line-break{
  width: 100%;
  margin-bottom: 5rem;
}

.event-date, .event-type{
  display: inline-block;
}
.event-date, .event-type, .event-name{
  font-size: $body-size*0.8;
  margin-bottom: $lineheight-base*1;
}
