#screenshot{
  flex: 0 0 100%;
  margin-top: 8rem;
  margin-bottom: 1rem;
  margin-left: 5px;
  @media #{$tablet}{
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    input, .thanks, &:not(.taken-screenshot) .screenshots-link{
      outline-color: black;
      width: 0;
      opacity: 0;
    }
    .thanks, input{
      float: left;
    }
    .fa{
      color: black;
      opacity: 0.5;
    }
    &:hover{
      opacity: 1;
    }
  }
  input, .thanks, &:not(.taken-screenshot) .screenshots-link{
    width: auto;
    transition: all 0.15s ease-out;
    outline-color: black;
  }
  &.added .thanks, &:hover input, input:focus, &:hover .thanks{
    width: 12rem;
    opacity: 1;
  }
  &:hover input, &:hover .screenshots-link{
    opacity: 1;
  }
  .submit{
    border: 0;
    background: none;
    &:focus{
      outline: none;
    }
  }
  &.taken-screenshot .screenshots-link{
    width: 27px;
    transition: 0.3s;
  }
  .submit{
    .fa{transform: rotate(0deg)};
    &.error .fa{
      transform: rotate(360deg);
      color: #FF4136;
      transition: all .25s ease-out;
    }
    &.success{
        animation: go-right-and-scale 1 .6s;
      .fa{
        animation: go-up-and-down 1 .6s;
      }
    }
  }
  .thanks{display: none;}
  &.added{
    #name{
      display: none;
    }
    .thanks{
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

@keyframes go-up-and-down{
  0%, 95%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-1.5rem);
  }
}
@keyframes go-right-and-scale{
  from{
    transform: translateX(0rem) scale(1) rotate(0deg);
  }
  50%{
    transform: translateX(0.8rem) scale(0.7) rotate(-10deg);
  }
  to{
    transform: translateX(2rem) scale(0.1) rotate(-35deg);
  }
}

.screenshots-page{
  .pagination{
    display: none;
  }
  .logo-break{
    display: block!important;
  }
  .imready & #canvas{
    position: initial;
    pointer-events: initial;
    opacity: 1;
    user-select: none;
  }

  .stay{
    cursor: pointer;
  }
  .explanation{
    padding: 1rem 1rem 1rem;
    font-size: 1.2rem;
    color: $white;
    background: $black;
  }
  @media #{$tablet}{
    .grid .grid-item--width2{
      width: 40%
    }
    .grid .stay{
      width: 40%;
    }

  }
  @media #{$lg}{
    .grid .stay{
      width: 20%;
    }
  }
  #screenshot{
    display: none;
  }
  @media #{$mobile}{
    header.header.grid-item{
      position: fixed!important;
      top: auto!important;
      opacity: 1!important;
      width: 100%;
    }
  }
  .stay{
    opacity:1!important;
  }
  @media #{$tablet}{
    .body-header{
      margin-left: 0;
      margin-right: 0;
    }
    #sc-filters{
      margin-right: 1rem;
    }
    #sc-filters, #logs{
      display: inline-block;
      vertical-align: top;
    }
    header.grid-item{
      width: 100%;
      margin-left: 0;

      @media #{$md}{
        width: 60%;
      }
      opacity: 1!important;
    }
    img{
      box-shadow: 0 0 1px $black;
    }
    #logs{
      padding-top: 4px;
    }
  }
  .header-right{
    text-transform: none;
    > .row{
      width: 100%;
      @media #{$mobile}{
        margin-left: 0;
        margin-right: 0;

      }
    }
    font-size: 14px;
    .screenshot-title{
      padding-right: 10px;
      vertical-align: bottom;
    }
    td{
      line-height: 1.5em;
      display: block;
      @media (min-width: 1500px){
        display: table-cell;
      }
    }
  }
  .yours{
    cursor: pointer;
  }
  label:before{
    height: 10px;
    width: 10px;
    top: 9px;
  }
  .grid{
    margin-top: 0;
  }
  footer, .news-banner{
    display: none;
  }
  .grid-item:not(.grid-sizer){
    min-height: 7rem;
    transition: all .15s ease-out;
  }
  .grid-item{
    width: 50%;
    cursor: pointer;
  }
  .grid-item--width2, .stay{
    width: 100%;
  }
  @media (min-width: 900px){
    .grid-item{
      width: 20%;
      min-width: 20%;
    }
    .grid .grid-item.focused{
      width: 40%;
    }
  }

  .tile-link{
    background: none;
    color: black;
  }

  //map
  .map{
    display: none;
    position: absolute;
  }

  .thumb{
    display: none;
    position: absolute;
    z-index: 1000;
    top: 1rem;
    max-width: 5rem;
    max-height: 5rem;
    opacity: 1;
    right: 1rem;
    cursor: pointer;
  }
  .map-show.grid-item {
    @media #{$mobile}{
      max-height: 33vh;
      .big{
        visibility: hidden;
      }
    }
    .big{
      opacity: 1;
    }
    &:hover{
      .big{
        opacity: 0.05!important;
      }
      .info{
        display: none;
      }
    }
    .thumb{
      display: block;
      opacity: 1;
    }
    .map{
      display: block;
    }

    .tile-link{
      mix-blend-mode: difference;
    }
  }

  .grid-item {
    .placeholder{
      display: block;
    }
    .big{
      opacity: 1;
      width: 100%;
      display: block;
    }
  }
  .grid-item:hover .big{
    opacity: 0.1;
  }
  .grid .grid-item .info{
    top: auto;
    bottom: 0;
    transition: none;
    opacity: 0;
    color: black;
  }
  .grid-item:hover .tile-link .info,  .grid .grid-item.no-img .info{
    color: black;
    opacity: 1;
  }

  .sub-list{
    font-size: 12px;
  }
  .sub-list li{
    margin: 0;
    padding: 0;
    line-height: 12px;
  }
}
