.screenshots-page{
  @media #{$tablet}{
    header.grid-item{
      width: 60%;
    }
  }
  .grid{
    margin-top: 0;
  }
  footer, .news-banner{
    display: none;
  }
  @media (min-width: 900px){
    .screenshots-page .grid-item{
      width: 20%;
      min-width: 20%;
    }
    .grid .grid-item.focused{
      width: 40%;
    }
  }

  $invert: 'invert()';
  .grid-item.focused img{
    filter: $invert;
    -webkit-filter: $invert;
    -moz-filter: $invert;
  }
  .grid-item.focused:hover img{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
  }
  .grid-item img{
    opacity: 0.1;
  }
  .grid-item:hover img{
    opacity: 1;
  }
  .grid .grid-item .info{
    top: auto;
    bottom: 0;
    transition: none;
  }
  .grid-item:hover .info{
    color: white;
    mix-blend-mode: difference;
  }

  .sub-list{
    font-size: 12px;
  }
  .sub-list li{
    margin: 0;
    padding: 0;
    line-height: 12px;
  }
}
