#screenshot{
  flex: 0 0 100%;
  @media #{$tablet}{
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    input, .thanks, &:not(.taken-screenshot) .screenshots-link{
      outline-color: black;
      width: 0;
      opacity: 0;
    }
    .thanks, input{
      float: left;
    }
    .fa{
      color: black;
      opacity: 0.5;
    }
    &:hover{
      opacity: 1;
    }
  }
  input, .thanks, &:not(.taken-screenshot) .screenshots-link{
    width: auto;
    transition: all 0.15s ease-out;
    outline-color: black;
  }
  &.added .thanks, &:hover input, input:focus, &:hover .thanks{
    width: 12rem;
    opacity: 1;
  }
  &:hover input, &:hover .screenshots-link{
    opacity: 1;
  }
  .submit{
    border: 0;
    background: none;
    &:focus{
      outline: none;
    }
  }
  &.taken-screenshot .screenshots-link{
    width: 27px;
    transition: 0.3s;
  }
  .thanks{display: none;}
  &.added{
    #name{
      display: none;
    }
    .thanks{
      display: inline-block;
      vertical-align: bottom;
    }
    .submit{
      animation: go-up-and-down 1 .3s;
    }
    .submit .fa{
      animation: go-right-and-scale 1 .3s;
    }
  }
}

@keyframes go-up-and-down{
  0%, 95%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-1.5rem);
  }
}
@keyframes go-right-and-scale{
  from{
    transform: translateX(0rem) scale(1);
  }
  50%{
    transform: translateX(0.8rem) scale(0.7);
  }
  to{
    transform: translateX(2rem) scale(0.1);
  }
}

.screenshots-page{
  @media #{$mobile}{
    header.header{
      position: fixed!important;
      top: auto!important;
      opacity: 1!important
    }
  }
  @media #{$tablet}{
    .body-header{
      margin-left: 0;
      margin-right: 0;
    }
    #sc-filters, #logs{
      display: inline-block;
      vertical-align: top;
    }
    header.grid-item{
      width: 60%;
      opacity: 1!important;
    }
    #logs{
      padding-top: 4px;
    }
  }
  .header-right{
    text-transform: none;
    > .row{
      width: 100%;
      @media #{$mobile}{
        margin-left: 0;
        margin-right: 0;

      }
    }
    font-size: 14px;
    .screenshot-title{
      padding-right: 10px;
    }
    td{
      line-height: 1.5em;
    }
  }
  label:before{
    height: 10px;
    width: 10px;
    top: 9px;
  }
  label.yours:before{
    content: none;
  }
  .grid{
    margin-top: 0;
  }
  footer, .news-banner{
    display: none;
  }
  @media (min-width: 900px){
    .grid-item{
      width: 20%;
      min-width: 20%;
    }
    .grid .grid-item.focused{
      width: 40%;
    }
  }

  .grid-item img{
    opacity: 0.1;
  }
  .grid-item:hover img{
    opacity: 1;
  }
  .grid .grid-item .info{
    top: auto;
    bottom: 0;
    transition: none;
  }
  .grid-item:hover .info{
    color: white;
    mix-blend-mode: difference;
  }

  .sub-list{
    font-size: 12px;
  }
  .sub-list li{
    margin: 0;
    padding: 0;
    line-height: 12px;
  }
}
