main{
  perspective: 60px;
  perspective-origin: 50% 50%;
}

.full-content{
  transform: translateZ(-60px);
  opacity: 0;
  animation: enter 1 1s $transition-long forwards;;
  &.exit{
    animation: exit 1 1.5s $transition-long!important;
  }
}
@for $i from 1 to 15{
  .stagger:nth-child(#{$i}n){
    transition-delay: #{random(300)}ms;
  }
}

@keyframes enter{
  from {
    transform: translateZ(-60px);
    opacity: 0;
  }
  to {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes exit{
  from {
    transform: translateZ(0px);
    opacity: 1;
  }
  to {
    transform: translateZ(60px);
    opacity: 0;
  }
}

@keyframes float{
  0%, 100% {
    transform: translateZ(-12px);
  }
  50% {
    transform: translateZ(14px);
  }
}
.full-content.volet{
  opacity: 1;
  will-change: transform;
  &:nth-child(1n){
    animation: float 8s infinite ease-in-out ;
  }
  &:nth-child(2n){
    animation: float 12s infinite ease-in-out ;
  }
  &:nth-child(3n){
    animation: float 10s infinite ease-in-out ;
  }

}
