// ----- 1 - Logo Mapping ----- //

.logo {
	@include fontSize(22.8px);
	@media #{$tablet}{
		@include fontSize(33px);
	}
	@include lineHeight(33px);
}

// ----- 2 - Baseline ----- //

.motto {
	@include fontSize($body-size);
	@include lineHeight($lineheight-base * 2);
	@include lineJump (2);
}


// ----- 3 - Menu ----- //

.header-right {
	@include fontSize($body-size);
	@include lineHeight($lineheight-base * 2);
}


// ----- 4 - Artist ----- //

.artist-name, .artist-event-name {
	@include fontSize(26px) ;
	@include lineHeight($lineheight-base * 2);
}


// ----- 5 - Titre Perfo ----- //

.page-title h1{
	@include fontSize(58px) ;
	@include lineHeight($lineheight-base * 4.14);
	@include lineJump (1);
}

.show-header{
	.sup{
		@include fontSize(16px);
	}
}

// ----- 6 - Date / Heure / Lieu ----- //

.event-infos {
	@include fontSize($body-size) ;
	@include lineHeight($lineheight-base * 2);
	@include lineJump (4);
}

.show-desc, .event-artist-bio, .artist-desc, .static-desc{
	// ----- 7 - Texte Courant ----- //
	p{
		@include fontSize($body-size) ;
		@include lineHeight($lineheight-base * 2) ;
	}
	p.fr-tag{
		@include lineJump (4);
	}
	// ----- 8 - Sous -Titres ----- //
	h1{
		@include fontSize(31.35px) ;
		@include lineHeight($lineheight-base * 2) ;
		@include lineJump (3);
	}
	// ----- 9 - Sous-Sous Titres ----- //
	h2{
		@include fontSize(25.65px) ;
		@include lineHeight($lineheight-base * 2) ;
		@include lineJump (6);
	}
}

// ----- 10 - Workshop Info ----- //

.show-info, .notes p{
	@include fontSize(15.2px) ;
	@include lineHeight($lineheight-base * 1.57) ;
	@include lineJump (3.2);
}


// ----- 11 - Footer Left ----- //

#footer {
	@include fontSize(15.2px) ;
	@include lineHeight($lineheight-base * 1.57) ;
}


// ----- 12 - Ticker ----- //

.announcement {
	@include fontSize(20.9px) ;
	@include lineHeight($lineheight-base * 2) ;
}


// ----- 13 - Filtre ----- //

.cat-filters {
	@include fontSize($body-size) ;
	@include lineHeight($lineheight-base * 2) ;
	@include lineJump (2);
	padding-bottom : $lineheight-base * 2;
}

.grid{
		@include lineJump (3.5);
}


.info {
	padding-top: $lineheight-base * 1.429;
	// ----- 15 - Progr Titre ----- //
	h3{
		@include fontSize(26.6px) ;
		@include lineHeight($lineheight-base * 2) ;
		@include lineJump (0.9);
	}
	// ----- 16 - Progr. Artiste ----- //
	h4{
		@include fontSize(15.2px) ;
		@include lineHeight($lineheight-base * 1.29) ;
		@include lineJump (0.9);
	}
	// ----- 14 - Progr Type ----- //
	// ----- 17 - Progr. Date ----- //

	.date, .location{
		@include fontSize(15.2px) ;
		@include lineHeight($lineheight-base * 1.29) ;
		@include lineJump (0.9);
	}
	.date, .location{
		display: block;
	}
}

// ----- 18 - Venue Place ----- //

.location-link {
	@include fontSize(20.9px) ;
	@include lineHeight($lineheight-base * 0.9) ;
	padding-bottom: 0.45rem;
	&:not(:first-child){
		@include lineJump (2);
	}
}


// ----- 19 - Venue Titre ----- //

.venue-title {
	@include fontSize(20.9px);
	@include lineHeight($lineheight-base * 2) ;
	@include lineJump (2);
}

// ----- 20 - Venue Artiste ----- //

.venue-artist {
	@include fontSize(15.2px) ;
	@include lineHeight($lineheight-base * 1.57) ;
}


// ----- 21 - Venue Date ----- //

.venue-date {
	@include fontSize(15.2px) ;
	@include lineHeight($lineheight-base * 1.29) ;
}

h2.sub-title {
	@include fontSize(31.35px) ;
	@include lineHeight($lineheight-base * 2) ;
	@include lineJump(6);
}
