// ----- 1 - Logo Mapping ----- //

.link-logo {
	@include fontSize(33px);
	@include lineHeight(33px);
}


// ----- 2 - Baseline ----- //

.motto {
	@include fontSize($body-size);
	@include lineHeight($body-size);
	@include lineJump(3);
	}


// ----- 3 - Menu ----- //

.header-right {
	@include fontSize($body-size);
	@include lineHeight(28px);
}


// ----- 4 - Artist ----- //

.artist-name, .artist-event-name {
		@include fontSize(26px) ;
		@include lineHeight(28px);
}


// ----- 5 - Titre Perfo ----- //

.show-header h1 {
	@include fontSize(58px) ;
	@include lineHeight(58px);
	@include lineJump (1);
	}


// ----- 6 - Date / Heure / Lieu ----- //

.event-infos {
	@include fontSize($body-size) ;
	@include lineHeight(28px);
	@include lineJump (4);
	}


// ----- 7 - Texte Courant ----- //

.show-desc {
	@include fontSize($body-size) ;
	@include lineHeight(28px) ;
	@include lineJump (4);
	}


// ----- 8 - Sous -Titres ----- //

.show-desc h1 {
	font-size: 2.357rem ;
	line-height: 2rem ;
	margin-top: 3rem ;
	}


// ----- 9 - Sous-Sous Titres ----- //

.show-desc h2 {
	font-size: 1.929rem ;
	line-height: 2rem ;
	margin-top: 6rem ;
	}


// ----- 10 - Workshop Info ----- //

.show-info {
	font-size: 1.143rem ;
	line-height: $body-size  ;
	margin-top: 3.2rem ;
	}


// ----- 11 - Footer Left ----- //

#footer {
	font-size: 1.143rem ;
	line-height: $body-size  ;
	}


// ----- 12 - Ticker ----- //

.announcement {
	font-size: $body-size  ;
	line-height: 2rem ;
	margin-top: 2rem ;
	}


// ----- 13 - Filtre ----- //

.cat-filters {
	font-size: $body-size  ;
	line-height: 2rem ;
	margin-top: 2rem ;
	}


// ----- 14 - Progr Type ----- //

.info h5 {
	font-size: 1.143rem ;
	line-height: 1.286rem ;
	margin-top: 1.429rem ;
	}


// ----- 15 - Progr Titre ----- //

.info h3 {
	font-size: 2.357rem ;
	line-height: 2rem ;
	margin-top: 1.429rem ;
	}


// ----- 16 - Progr. Artiste ----- //

.info h4 {
	font-size: 1.143rem ;
	line-height: 1.286rem ;
	margin-top: 1.429rem ;
	}


// ----- 17 - Progr. Date ----- //

.info .date, .info .location {
	font-size: 1.143rem ;
	line-height: 1.286rem ;
	margin-top: 1.429rem ;
	}


// ----- 18 - Venue Place ----- //

.location-link {
	font-size: $body-size  ;
	line-height: 2rem ;
	margin-top: 7.5rem ;
	}


// ----- 19 - Venue Titre ----- //

.venue-title {
	font-size: $body-size  ;
	line-height: 2rem ;
	margin-top: 2rem ;
	}


// ----- 20 - Venue Artiste ----- //

.venue-artiste {
	font-size: 1.143rem ;
	line-height: $body-size  ;
	}


// ----- 21 - Venue Date ----- //

.venue-date {
	font-size: 1.143rem ;
	line-height: 1.286rem ;
	}
