.link{
	background-color: $brand-color;
	color: $black;
	&:hover{
		color: lighten($black, 30%);
	}
}

.triangle-up{
	content: '';
	display: inline-block;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid white;
	transform: translateY(-25px);
}