@mixin triangle-up($triangle-size, $color: white){
	border-bottom: $triangle-size solid $color;
	border-right: $triangle-size solid transparent;
	border-left: $triangle-size solid transparent;
	content: '';
	margin: -$triangle-size auto 0;
	display: block;
	width: 0;
	position: absolute;
	top: -$triangle-size;
	left: 0;
	right: 0;
	margin: 0 auto;
}

@mixin triangle-down($triangle-size, $color: white){
	border-right: $triangle-size solid transparent;
	border-left: $triangle-size solid transparent;
	border-top: $triangle-size solid $color;
	content: '';
	margin: -$triangle-size auto 0;
	display: block;
	width: 0;
	position: absolute;
	top: -$triangle-size;
	left: 0;
	right: 0;
	margin: 0 auto;
}

$form-font-size: 16px;
.link{
	background-color: $brand-color;
	color: $black;
	&:hover{
		color: lighten($black, 30%);
	}
}

.sort{
	position: relative;
	flex: 0 0 26px;
	padding: 0 2px;
	background: $brand-color;
	margin-right: 5px;
	cursor: pointer;
	&.sort-desc:before{
		@include triangle-up(8px, $dark-grey);
		top: 5px;
	}
	&.sort-asc:after{
		@include triangle-down(8px, $dark-grey);
		top: 13px;
	}
}

#filters{
	display: flex;
	justify-content: flex-start;
	font-size: $form-font-size;
	input[type="checkbox"]{
		display: none;
	}
	input[type="checkbox"] + label{
		cursor: pointer;
		flex: 0 0 auto;
		&:before{
			content: '';
			display: inline-block;
			height: 15px;
			width: 15px;
			border: solid 2px $brand-color;
			margin-right: 5px;
			position: relative;
			top: 3px;
			transition: transform 0.05s 0.1s ease-out, border-width 0.15s;
		}
	}
	input[type="checkbox"]:checked + label:before{
		border-width: 7px;
	}
	input[type="checkbox"] + label:hover:before{
		transform: rotateZ(45deg);
		transition: transform 0.05s ease-out, border-width 0.15s;
	}

}

select{
	visibility: hidden;
}
#filters{
	input[type="chosen-drop"]{
		padding-left: 15px;
		min-width: 100%;
		margin-bottom: 15px;
		@media #{$tablet}{
			padding-left:0px;
		}
	}
}

.cat-filters{
	margin-top: 5px;
	@media #{$tablet}{
		margin-top: 0px;
	}
}


.prev-next-navigation{
	display: none;
	@media #{$tablet}{
		display: flex;
		justify-content: space-between;
		background-color: $dark-grey;
		font-weight: bold;
		line-height: $larger;
		margin-top: 5px;
		.next, .prev{
			& a{
				padding: 0 5px;
				display: block;
				&:after, &:before{
					width: 30px;
					height: 30px;
					display: inline-block;
					padding: 5px 7px 0px;
					@media #{$sm}
					{
					  padding: 0px 7px 0px;;
					}
  				vertical-align: middle;
				}
			}
		}
		.next{
			& a:after{
				content: image-url('next-prev-arrow.svg');
			}
		}
		.prev{
			& a:before{
				content: image-url('next-prev-arrow.svg');
				transform: (rotate(180deg));
			}
		}
	}
}

.chosen-container.chosen-container, .chosen-container.chosen-container.chosen-with-drop{
	font-size: $form-font-size;
	font-weight: bold;
	color: $black;
	text-transform: lowercase;
	.chosen-default, .chosen-single{
		color: black;
		border-radius: 0;
		background: $brand-color;
		font-weight: bold;
		box-shadow: none;
	}
	.chosen-drop{
		border-radius: 0;
		border: none;
		.chosen-results{
			background: $brand-color;
			margin: 0;
			padding: 0;
			li{
				font-weight: bold;
				padding: 5px 10px;
				&.highlighted{
					color: $brand-color;
					background: $black;
				}
			}
		}
	}
}