// media queries
$mobile                 : "(max-width: 767px)";
$portrait               : "(orientation: portrait)";
$landscape              : "(orientation: landscape)";
$xs                     : $mobile;
$tablet                 : "(min-width: 767px)";
$sm                     : $tablet;
$md                     : "(min-width: 991px)";
$lg                     : "(min-width: 1200px)";

// colors
$brand-color: #FFEE00;
$black: #111111;
$dark-grey: #666666;
$light-grey: #CCCCCC;

$container-max-width: 960px;
$background: #C6C6C6;

// typography
$body-font		:	Avenir, Helvetica, Sans-Serif;
$title-font		:	Avenir-Bold, Helvetica, Sans-Serif;
$info-font		:	Baskerville, Garamond, Serif;


$body-size 			: 	16px;
$smaller			:	0.65em;
$small				:	0.75em;
$large				: 	1.1em;
$larger 			: 	1.6em;
$largest			:	2.2em;
$tile-title-size 	:	0.8em;

@font-face {
	font-family:'Avenir';
	src: url('/assets/avenir/AvenirNextLTPro-Bold_gdi.eot');
	src: url('/assets/avenir/AvenirNextLTPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('/assets/avenir/AvenirNextLTPro-Bold_gdi.woff') format('woff'),
		url('/assets/avenir/AvenirNextLTPro-Bold_gdi.ttf') format('truetype'),
		url('/assets/avenir/AvenirNextLTPro-Bold_gdi.svg#AvenirNextLTPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family:'Avenir';
	src: url('/assets/avenir/AvenirNextLTPro-Regular_gdi.eot');
	src: url('/assets/avenir/AvenirNextLTPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('/assets/avenir/AvenirNextLTPro-Regular_gdi.woff') format('woff'),
		url('/assets/avenir/AvenirNextLTPro-Regular_gdi.ttf') format('truetype'),
		url('/assets/avenir/AvenirNextLTPro-Regular_gdi.svg#AvenirNextLTPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family : Baskerville;
	font-weight: normal;
	src: local('Baskerville'), url('http://fonts.googleapis.com/css?family=Libre+Baskerville');
}