// media queries
$mobile                 : "(max-width: 767px)";
$portrait               : "(orientation: portrait)";
$landscape              : "(orientation: landscape)";
$xs                     : $mobile;
$tablet                 : "(min-width: 767px)";
$sm                     : $tablet;
$md                     : "(min-width: 991px)";
$lg                     : "(min-width: 1200px)";

// colors
$brand-color: #FFEE00;
$black: #111111;
$dark-grey: #666666;
$light-grey: #CCCCCC;

$container-max-width: 960px;
$background: #C6C6C6;

// typography
$body-font		:	Avenir, Helvetica, Sans-Serif;
$title-font		:	Avenir-Bold, Helvetica, Sans-Serif;
$info-font		:	Baskerville, Garamond, Serif;


$body-size 			: 	16px;
$small				:	0.75em;
$large				: 	1.6em;
$larger 			: 	2.2em;
$tile-title-size 	:	0.8em;


@font-face {
	font-family : 'Avenir';
	src: local('AvenirNextLTPro-Regular'), url('/assets/avenir/AvenirNextLTPro-Regular.otf');
}

@font-face {
	font-family : 'Avenir-Bold';
	src: local('AvenirNextLTPro-Bold'), url('/assets/avenir/AvenirNextLTPro-Regular.otf');
}

@font-face {
	font-family : Baskerville;
	font-weight: normal;
	src: local('Baskerville'), url('http://fonts.googleapis.com/css?family=Libre+Baskerville');
}