/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require rails_admin/ra.globalize_tabs
 */
@import "framework_and_overrides";
@import "variables";
@import "ui_components";
@import "artists";
@import "events";
@import "home";



// RESETS

ul{
	li{
		list-style: none;
	}
}

.navbar{
	.container{
		max-width: $container-max-width;
	}
}

main{
	background-color: $light-grey;

	.container{
		max-width: $container-max-width;
	}
	a{
		background-color: $brand-color;
		color: $black;
	}
}

.footer-logo{
	max-width: 50%;
	margin: auto;
}