/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require rails_admin/ra.globalize_tabs
 */
@import "framework_and_overrides";
@import "variables";
@import "mixins";
@import "layouts";
@import "ui_components";
@import "header";
@import "artists";
@import "events";
@import "home";
@import "glitchousel";



// RESETS
body{
	background-color: $background;
	font-size : 14px;
	@media #{$tablet}{
		font-size : 16px;
	}
}
img, canvas{
	max-width: 100%;
}
canvas{
	width: 100%;
	vertical-align: bottom;
}

ul{
	li{
		list-style: none;
	}
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

h1, h2{
	font-family: $title-font;
	font-size: $large;
}

main{
	font-family: $body-font;
	font-size: $body-size;
	a{
		background-color: $brand-color;
		color: $black;
		&:hover{
			color: $black;
		}
	}
}

#footer{
	height: auto;
	bottom:0;
	width: 100%;
}
.footer-logo{
	margin: auto;
	max-width:50%;
	padding-bottom: 20px;
	@media #{$tablet}{
		max-width: 15%;
	}
}



/* Works in Safari */
::selection {
 background-color: darken($brand-color, 0%);
 color: white;
}
/* Mozilla based browsers */
::-moz-selection {
 background-color: $brand-color;
 color: white;
}