.post{
  position: absolute;
  display: inline-block;
  min-width: 200px;
  max-width: 450px;
  background-size: cover;
  background-position: center;
  margin: auto;
  opacity: .3;
  background-color: blueviolet;
  .grid-item--width2{
    box-shadow: inset red 0 0 3px;
  }

  &.one-left{
    left: 300px;
  }
  transition: all .3s ease-in-out;
  will-change: transform;
  .tile-link{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: opacity .3s ease-in-out;
    color: white;
    padding: 5px;
    background-size: cover;
    background-position: center;
  }
  pointer-events: none;
  &.focus{
    opacity: .83;
    .tile-link{
      opacity: 1;
      z-index: 1000;
    }
    pointer-events: auto;
  }
  &:hover{
    z-index: 1010!important;
    opacity: 1;
  }
}

$transforms:-300px -120px -200px -440px -550px;
@for $i from 1 through length($transforms) {
  .post:nth-child(#{length($transforms)}n+#{$i}){
    $tr: nth($transforms, $i);
    //transform: perspective(500px) translateZ(#{$tr});
  }
}

.day-ticker {
    position: absolute;
    top: -1.5em;
    left: -5rem;
    color: white;
    &:after{
      content: '';
      width: 200vw;
      border-bottom: 1px solid white;
      display: inline-block;
      position: relative;
      left: -50vw;
      top: -.9rem;
    }
}

#program{
  width: 85vw;
  float: right;
  position: relative;
  perspective: 50px;
  perspective-origin: 50% 25vh;
  will-change: transform;
}
.event-category-container{
  perspective: 50px;
  perspective-origin: center;
}

body{
  //background-image: url(image-path('3D_background.svg'));
  background: #111;
  //background-image: url(http://68.media.tumblr.com/3cbf851f43a0de368798754c400aff74/tumblr_oc7ud7tYBn1slsxfzo1_540.gif);
  //background-image: url(http://68.media.tumblr.com/3f5f9e1fd6890b42dee5975dcff9a18a/tumblr_oa41uqMzL81slsxfzo1_540.gif);
  background-size: 100% 100%;
  overflow-x: auto!important;
  overflow: auto;
}
