<p>Welcome!</p>

<p>You need to confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
<br/>

Your current password is: <i>lemotdepasse</i>. Please change it in the admin as soon as you confirm your account.

The password to access the website is <a href="http://inft.ly/3pBDW7E" target="_blank"><i>borisisathug</i></a>


<p>
 Thank you,<br/><br/>
  <%= link_to "The vbbros", "http://vbbros.net" %>
</p>
