.grid
  .grid-sizer.grid-item
  - @screenshots.each do |sc|
    .grid-item
      = image_tag sc.screenshot.url
      .info
        .artists
          %h4.artist-name= sc.location
          - t_ = distance_of_time_in_words_to_now sc.created_at
          %h4.artist-name
            - if I18n.locale == :en
              = t_ + ' ago'
            - else
              = 'il y a ' + t_
