%h1.index-title Venues
.location-main
	.location-list
		- @locations.each do |loc|
			= link_to loc.name,	"##{loc.slug}", class: 'location-link', data: { title: loc.slug}
	#google-map-wrapper{ data: { "marker-url" => image_url("google-map-marker.png")}}
		#google-map-loader
		#google-map{ data: {"adresse" => @locations.map(&:address).join('*'), "latitude" => @locations.map(&:latitude).join('-'), "longitude" => @locations.map(&:longitude).join('-'), "title" => @locations.map(&:name).join('*'),		"url" => @locations.map{|l| "##{l.slug}"}.join('*'), "zoom" => "14", "infos" => @locations.map(&:infos).join('|')}}
.location-events#location-events
	%h1.sub-title
		Events @
		%span#location-title
	= render 'events/event_grid', events: @events
