#google-map-wrapper
  #google-map-loader
  #google-map{ data: {"adresse" => @locations.map(&:name).join('*'), "latitude" => @locations.map(&:latitude).join('-'), "longitude" => @locations.map(&:longitude).join('-'), "title" => @locations.map(&:name).join('*'),    "url" => @locations.map(&:name).join('*'), "zoom" => "14"}}
