- cache([@sections, @venues, @days_range, @artists_by_letter]) do
	.filters
		.resetter{ data: { type: 'event', key: 'section', value: 'reset'}}
			%span.fa.fa-times 
			Reset filters
		.filters-by.section
			/ .filter-title.active{data: { type: 'event', key: 'section', value: 'reset'}} Section
			%ul.filter-list
				- @sections.each_with_index do |sec, index|
					%li.active{ data: { type: 'event', key: 'section', value: sec}}
						= sec.gsub(/Mapping /i, '')

		.filter-title.favourite.filters-by{ data: { type: 'event', key: 'id', value: 'reset' } } #{t('filters.favourites')} #{fa_icon('star')}

		.filters-by
			%ul.filter-list.calendar.date
				%li.active.month.date.filter-list-title--inline{ data: { type: 'event', key: 'date', value: 'reset'} }= t('filters.by_day')
				- @days_range.each do |day|
					%li.day.active{ data: { type: 'event', key: 'date', value: "#{day}-5"}}= day

		-# .filters-by.venue
		-# 	.filter-title{ data: { type: 'event', key: 'venue', value: 'reset', collapse: '.venue .collapsible' } }= t('filters.by_venue')
		-# 	%ul.filter-list.collapsed.collapsible
		-# 		- @venues.each do |venue|
		-# 			%li.venue.active{ data: { type: 'event', key: 'venue', value: venue.name, collapse: '.venue .collapsible' } }= venue.name

		.filters-by.artists.letter
			%ul.filter-list
				%li.filter-list-title--inline{ data: { type: 'artist', key: 'artists', value: 'reset', collapse: '.artists .collapsible' } }= t('filters.artists')
				- @artists_by_letter.each do |letter|
					%li.letter.active{ data: { type: 'artist',  key: 'letter', value: letter, collapse: '.artists .collapsible' } }= letter
