- cache([@sections, @venues, @days_range, @artists_by_letter]) do
	.filters
		.filters-by
			%ul.filter-list
				%li.section.favourite{ data: { type: 'event', key: 'id' } }= fa_icon('star')
				- @sections.each do |sec|
					%li.section
						%span.active{ data: { type: 'event', key: 'section', value: sec}}= sec
						%span.resetter.fa.fa-times{ data: { type: 'event', key: 'section', value: 'reset'}}
		.filters-by
			.filter-title.active{ data: { type: 'event', key: 'date', value: 'reset'} }= t('filters.by_day')
			%ul.filter-list.date.collapsible
				- @days_range.each do |day|
					%li.day.active{ data: { type: 'event', key: 'date', value: "#{day}-5"}}= day

		.filters-by
			.filter-title{ data: { type: 'event', key: 'venue', value: 'reset' } }= t('filters.by_venue')
			%ul.filter-list.venue.collapsed.collapsible
				- @venues.each do |venue|
					%li.venue.active{ data: { type: 'event', key: 'venue', value: venue.name}}= venue.name
		.filters-by
			.filter-title{ data: { type: 'artist', key: 'artists', value: 'reset'} }= t('filters.artists')
			%ul.filter-list.artists.collapsed.collapsible
				- @artists_by_letter.each do |letter|
					%li.letter.active{ data: { type: 'artist',  key: 'letter', value: letter} }= letter
