#footer
  .container
    .footer-separator
      follow us
  .container
    .social
      .instagram
        %a{:href => "http://www.instagram.com/mappingfestival"}
          %img{:src => "insta.svg"}/
      .twitter
        %a{:href => "http://www.twitter.com/mappingfestival"}
          %img{:src => "tw.svg"}/
      .facebook
        %a{:href => "http://www.facebook.com/Mapping-Festival"}
          %img{:src => "fb.svg"}/
    .logo
      .footer-logo=image_tag('logo.svg')
    .address
      %b Mapping Festival
      %p Avenue Ernest-Pictet 28/30
      %p 1203 Geneva / Switzerland
      %p +41 (22) 800 16 19