#footer
  .container
    .footer-separator
      = link_to t('shared.program'), image_path('grille.pdf'), target: '_blank', class: 'program'
      |
      = link_to 'tickets'
      |
      = link_to t('nav.about'), about_path(locale: I18n.locale)
      | follow us
  .container
    .logo
      .footer-logo=image_tag('logo_black.png')
    .address
      %b Mapping Festival
      %p Avenue Ernest-Pictet 28/30
      %p 1203 Geneva / Switzerland
      = link_to 'Mail', "mailto:nous@mappingfestival.com"

%script{:src => "//app.mailerlite.fr/js/w/button.js", :type => "text/javascript", defer: true}
