%footer#footer
  .container
    .footer-links
      = link_to t('static_pages/''nav.about'), about_path(locale: I18n.locale)
      |
      = link_to t('nav.partners'), partners_path(locale: I18n.locale)
      |
      = link_to t('nav.previous'), about_path(locale: I18n.locale, anchor: 'previous')
    .address
      %b Mapping Festival
      %p Avenue Ernest-Pictet 28/30
      %p 1203 Geneva / Switzerland
      = link_to 'Mail', "mailto:nous@mappingfestival.com"

%script{:src => "//app.mailerlite.fr/js/w/button.js", :type => "text/javascript", defer: true}
