#footer
  .container
    .footer-separator
      follow us
  .container
    .social
      %a{:href => "http://www.instagram.com/mappingfestival", class: "fa fa-icon fa-instagram"}
      %a{:href => "http://www.twitter.com/mappingfestival", class: "fa fa-icon fa-twitter"}
      %a{:href => "http://www.facebook.com/Mapping-Festival", class: "fa fa-icon fa-facebook"}
    .logo
      .footer-logo=image_tag('logo_black.png')
    .address
      %b Mapping Festival
      %p Avenue Ernest-Pictet 28/30
      %p 1203 Geneva / Switzerland
      %p +41 (22) 800 16 19