-# Mapping Festival
= link_to root_path(locale: I18n.locale) do
  %h1.name 
    Mapping 
    %span.blink-on-load _ 
    Digital Shifts
  .subtitle
    %h2.motto 
      Visual audio +
      %br.hidden-xs 
      deviant electronics
      %br.hidden-xs 
      festival
    %h2.festival-date 11 – 28.5.2017
    %h2.festival-location Geneva / Switzerland
