-# Mapping Festival
= link_to root_path(locale: I18n.locale) do
  %h1.name Mapping _ Digital Shifts
  .subtitle
    %h2.motto Visual audio +
    %h2.motto deviant electronics
    %h2.motto festival
    %h2.festival-date 11 – 28.5.2017
    %h2.festival-location Geneva / Switzerland
