%ul.nav.navbar-nav
	%li= link_to t("nav.events"), 			events_path
	%li= link_to t("nav.exhibitions"), exhibitions_path
	%li= link_to t("nav.workshops"), 	workshops_path
	%li= link_to t("nav.artists"), 		artists_path