%nav.navbar.navbar-inverse
  .container
    .navbar-header
      = link_to t('home'), root_path, class: 'navbar-brand'
      = render 'layouts/navigation_links'
      %a{"data-target" => ".nav-more", "data-toggle" => "collapse", :type => "button", href: "#"}
        More
      .collapse.nav-more
        = render 'layouts/nav_static_pages.html.haml'