%ul.social
	%li
		= link_to("http://www.instagram.com/mappingfestival", target: '_blank') do
			.fa.fa-icon.fa-instagram
	%li
		= link_to("http://www.twitter.com/mappingfestival", target: '_blank') do
			.fa.fa-icon.fa-twitter
	%li
		= link_to("https://www.facebook.com/pages/Mapping-Festival/162958139889", target: '_blank') do
			.fa.fa-icon.fa-facebook